{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-unused-expressions": [
      "error",
      { "allowTernary": true, "allowShortCircuit": true }
    ],
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": false, // Disallow `const { props, state } = this`; true by default
        "allowedNames": ["thisRoot"] // Allow `const self = this`; `[]` by default
      }
    ],
    "import/extensions": "off",
    "func-names": ["error", "never"],
    "no-console": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off"
  }
}
