#levels {
  color: #505050;
  position: absolute;
  line-height: 24px;
  left: 50%;
  top: 100px;
  z-index: -10002;
  transform: translateX(-50%);
  display: none;
  overflow: hidden;
}

#levels > h4 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
}

#levels p {
  font-size: 14px;
  text-align: center;
}

#levels > p {
  margin: 0 10px 2px;
  font-size: 16px !important;
  color: #009688;
  border-bottom: 1px solid #505050;
}
