.pickup {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  z-index: 9999;
  opacity: 1;
}

.fruits,
.items,
.picked-icon {
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.picked-icon {
  position: unset;
  vertical-align: middle;
  display: inline-block;
}

.apple {
  background-image: url("../images/fruits/apple.svg");
}

.banana {
  background-image: url("../images/fruits/banana.svg");
}

.orange {
  background-image: url("../images/fruits/orange.svg");
}

.lemon {
  background-image: url("../images/fruits/lemon.svg");
}

.watermelon {
  background-image: url("../images/fruits/watermelon.svg");
}

.mango {
  background-image: url("../images/fruits/mango.svg");
}

.peach {
  background-image: url("../images/fruits/peach.svg");
}

.cherry {
  background-image: url("../images/fruits/cherry.svg");
}

.avocado {
  background-image: url("../images/fruits/avocado.svg");
}

.pineapple {
  background-image: url("../images/fruits/pineapple.svg");
}

.blueberry {
  background-image: url("../images/fruits/blueberry.svg");
}

.strawberry {
  background-image: url("../images/fruits/strawberry.svg");
}

.hami-melon {
  background-image: url("../images/fruits/hami_melon.svg");
}

.persimmon {
  background-image: url("../images/fruits/persimmon.svg");
}

.pitaya {
  background-image: url("../images/fruits/pitaya.svg");
}

.mangosteen {
  background-image: url("../images/fruits/mangosteen.svg");
}

.litchi {
  background-image: url("../images/fruits/litchi.svg");
}

.kiwi-fruit {
  background-image: url("../images/fruits/kiwi_fruit.svg");
}

.longan {
  background-image: url("../images/fruits/longan.svg");
}

.pomegranate {
  background-image: url("../images/fruits/pomegranate.svg");
}

.prune {
  background-image: url("../images/fruits/prune.svg");
}

.grape {
  background-image: url("../images/fruits/grape.svg");
}

.pear {
  background-image: url("../images/fruits/pear.svg");
}

.durian {
  background-image: url("../images/fruits/durian.svg");
}

.clock {
  background-image: url("../images/items/clock.svg");
}

.magnet {
  background-image: url("../images/items/magnet.svg");
}

.book {
  background-image: url("../images/items/book.svg");
}

.cake {
  background-image: url("../images/items/cake.svg");
}

.hourglass {
  background-image: url("../images/items/hourglass.svg");
}
