.pickup {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  white-space: nowrap;
  position: absolute;
  z-index: 9999;
  opacity: 1;
}

.fruits,
.items,
.picked-icon {
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.picked-icon {
  position: unset;
  vertical-align: middle;
  display: inline-block;
}

.apple {
  background-image: url("../images/fruits/apple.png");
}

.banana {
  background-image: url("../images/fruits/banana.png");
}

.orange {
  background-image: url("../images/fruits/orange.png");
}

.lemon {
  background-image: url("../images/fruits/lemon.png");
}

.watermelon {
  background-image: url("../images/fruits/watermelon.png");
}

.mango {
  background-image: url("../images/fruits/mango.png");
}

.peach {
  background-image: url("../images/fruits/peach.png");
}

.cherry {
  background-image: url("../images/fruits/cherry.png");
}

.avocado {
  background-image: url("../images/fruits/avocado.png");
}

.pineapple {
  background-image: url("../images/fruits/pineapple.png");
}

.blueberry {
  background-image: url("../images/fruits/blueberry.png");
}

.strawberry {
  background-image: url("../images/fruits/strawberry.png");
}

.hami-melon {
  background-image: url("../images/fruits/hami_melon.png");
}

.persimmon {
  background-image: url("../images/fruits/persimmon.png");
}

.pitaya {
  background-image: url("../images/fruits/pitaya.png");
}

.mangosteen {
  background-image: url("../images/fruits/mangosteen.png");
}

.litchi {
  background-image: url("../images/fruits/litchi.png");
}

.kiwi-fruit {
  background-image: url("../images/fruits/kiwi_fruit.png");
}

.longan {
  background-image: url("../images/fruits/longan.png");
}

.pomegranate {
  background-image: url("../images/fruits/pomegranate.png");
}

.prune {
  background-image: url("../images/fruits/prune.png");
}

.grape {
  background-image: url("../images/fruits/grape.png");
}

.pear {
  background-image: url("../images/fruits/pear.png");
}

.durian {
  background-image: url("../images/fruits/durian.png");
}

.clock {
  background-image: url("../images/items/clock.png");
}

.magnet {
  background-image: url("../images/items/magnet.png");
}

.book {
  background-image: url("../images/items/book.png");
}

.cake {
  background-image: url("../images/items/cake.png");
}

.hourglass {
  background-image: url("../images/items/hourglass.png");
}
