#history > div {
  height: 80px;
  margin-bottom: 20px;
  font-size: 0;
  border: 1px solid #0a1929;
  overflow: auto;
}
#history > div > div {
  text-align: center;
  display: inline-block;
  width: calc(100% / 3);
  vertical-align: top;
}
#history p {
  line-height: 26px !important;
}
